<!-- <div *ngFor="let item of [1, 2, 3, 17, 20]">
    <p>number is: {{ item }}</p>
</div> -->

<div *ngFor="let p of products; let i= index">
    <!-- <p>{{ i }}</p> -->
    <div class="product-container" [ngStyle]="{backgroundColor: p.available === 'Available' ? '#D5F5E3' : '#FADBD8'}">
        <div class="image-container"><img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px;"></div>
        <div>
            <div class="name-container"><h6>{{p.name}}</h6></div>
            <div class="detailsContainer">
                <div class="details" [ngStyle]="{color: p.available === 'available' ? 'Green' : 'Red'}"{{ p.available }}></div>
                <div class="details"><b>Price:</b>${{ p.price }}</div>
                <div class="details"><b><Color:</b>{{ p.color }}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-warning">Buy Now</button>
        </div>
    </div>
</div>